<div class="row">
    <div class="col-sm-2" style="width: 110px">
      <img
        src="../assets/images/burkina_symbol.png"
        alt="..."
        width="100px"
        height="110px"
      />
    </div>
    <div class="col-10">
      <h5 class="app-primary-color mt-3 fs-1">
        e<span class="app-secondary-color">No</span>tation
      </h5>
      <p class="fs-5">
        Plateforme d'evaluation du personnel de l'administration publique burkinabè
      </p>
    </div>
  </div>
  <hr class="m-0" style="height: 2px" />