::ng-deep .ui-menu,.ui-menu .ui-menu-child{
    border: 0px;
    background:#5393bc 0 0 repeat-x !important;
}
::ng-deep .ui-menu .ui-menuitem .ui-menuitem-link:hover{
    background-color: #5393bc;
    border: none;
}
::ng-deep .ui-menu .ui-menuitem .ui-state-active{
    background-color: #5393bc;
}
::ng-deep .ui-menu .ui-menuitem.ui-menuitem-active>.ui-menuitem-link,
.ui-menu .ui-menuitem .ui-menuitem-link:hover{
    background-color:#186ba0;
    border: none;
}
::ng-deep .menucus{
    background: #5393bc !important;
}
::ng-deep .ui-menu .ui-menuitem-parent, .ui-menu .ui-menuitem{
    margin: auto;
}
::ng-deep .ui-menuitem .ui-widget .ui-corner-all {
    border-radius:0;
}

::ng-deep .ui-menu .ui-menu-parent .ui-menu-child{
    padding: 0;
}

.navbar-nav li a{
    padding-top: 10px;
    padding-bottom: 10px;
}

.dropdown-item:hover{
    color: #ffffff;
}


* {
    box-sizing: border-box;
}
.flex-container {
display: flex;
flex-wrap: wrap;
font-size: 30px;
}

.sub-title {
color: #7F7F7F;
}

.flex-item-left {
flex: 60%;
}

.flex-item-right {
flex: 5%;
display: flex;
align-items: center;
justify-content: center;
border-radius: 10px;
}

.flex-item-right h6 {
color: white;
}

.aitem {
color: #000000e1;
font-size: 50%;
}

.flex-item-center {
/* flex: 10%; */
text-align: left;
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */

@media (max-width: 800px) {

.flex-item-right,
.flex-item-left {
    flex: 100%;
}
}

.hearder-top {
border-top: 5px solid hsl(33, 100%, 50%);
}
