<img src="assets/img/icons/background.jpg" class="fixed left-0 top-0 min-h-screen min-w-screen"
    style="margin-left:0px;width: 50%;">
<div class="px-5 min-h-screen flex justify-content-center align-items-center">
    <div class="border-1 surface-border surface-card border-round py-7 px-4 md:px-7 z-1">
        <div class="login-pf-header" >
            <div class="logo" width="1000">
                <img src="assets/img/burkina_symbol.png" alt="logo" height="130" width="1000">
            </div>
        </div>
        <p></p>
        <div class="mb-4" style="justify-content: center;" >
            <div class="text-900 text-xl font-bold mb-2">Mot de passe oublié</div>
            <span class="text-600 font-medium">Vous pouvez réinitialiser votre mot de passe ici</span>
        </div>
        <div class="flex flex-column">
            <span class="p-input-icon-left w-full mb-4">
                <i class="pi pi-envelope"></i>
                <input id="email"  type="text" pInputText class="w-full md:w-25rem" placeholder="Votre adresse Email" required>
            </span>
            <div class="flex flex-wrap gap-2 justify-content-between">
                <button pButton pRipple label="Annuler" class="flex-auto p-button-raised p-button-danger p-button-success mr-2" [routerLink]="['/']"></button>
                <button pButton pRipple label="Soumettre" class="flex-auto" [routerLink]="['/']"></button>
            </div>
        </div>
    </div>
</div> 
