<ng-template pTemplate="header">
    <span class="p-mr-auto"> <b>DETAILS PRIVILEGE</b></span>
</ng-template>
<p-divider></p-divider>
<div class="row">
    <div class="col-md-12">
        <ul class="list-group list-group-flush">
            <!-- <li class="list-group-item list-group-item-action">
                <span class="va-m"><span class="font-bold">Code:</span> {{tauxFCotisation.code}}</span>
            </li>
            <li class="list-group-item list-group-item-action">
                <span class="va-m"><span class="font-bold">Libelle:</span> {{tauxFCotisation.libelle}}</span>
            </li>
            <li class="list-group-item list-group-item-action">
                <span class="va-m"><span class="font-bold">Taux assuré:</span> {{tauxFCotisation.tauxAssure}}</span>
            </li>
            <li class="list-group-item list-group-item-action">
                <span class="va-m"><span class="font-bold">Taux employeur:</span> {{tauxFCotisation.tauxEmployeur}}</span>
            </li>
            <li class="list-group-item list-group-item-action">
                <span class="va-m"><span class="font-bold">Forfait:</span> {{tauxFCotisation.forfait }}</span>
            </li> -->
        </ul>
    </div>

</div>
<p-divider></p-divider>
<div class="p-ml-auto text-right">
    <button description="reset" label="Fermer" (click)="clear()"
        class="p-button-raised p-button-danger mr-2" pButton></button>
</div>
