<div id="login-bg" class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-5 mx-auto">
            <div class="card-group">
              <div class="card p-4">
                <div class="card-body">
                  <div class="text-center">
                    <h3><i class="fa fa-lock fa-4x"></i></h3>
                    <h2 class="text-center">Mot de passe oublié?</h2>
                    <p>Vous pouvez réinitialiser votre mot de passe ici.</p>
                    <div class="panel-body">
                      <form  id="register-form" role="form" autocomplete="off"
                        name="form" (ngSubmit)="form.valid && onSubmit()"  novalidate>
                        <div class="form-group">
                          <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                            <input class="form-control" formControlName="password" name="password" id="password"
                              placeholder="Entrez votre mot de passe" type="password" required>
                          </div>
                          <!-- <div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">
                            <div *ngIf="f.password.errors.required"> Veillez renseigner votre mot de passe!</div>
                          </div> -->
                        </div>
  
                        <div class="form-group">
                          <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                            <input class="form-control" formControlName="confirm_password" name="confirm_password" id="password"
                              placeholder="Confirmer votre mot de passe" type="password" required>
                          </div>
                          <!-- <div *ngIf="f.confirm_password.touched && f.confirm_password.invalid" class="alert alert-danger">
                            <div *ngIf="f.confirm_password.errors.required">  Veillez confirmer votre mot de passe!</div>
                            <div *ngIf="f.confirm_password.errors.confirmedValidator">Le mot de passe et la confirmation du mot de passe doivent correspondre!</div>
                          </div> -->
                         
                        </div>
                        <div class="form-group">
                          <input name="recover-submit" id="bt" [disabled]="!form.valid" class="btn btn-lg btn-primary btn-block" value="Soumettre"
                            type="submit">
                        </div>
                        <input type="hidden" class="hide" name="token" id="token" value="">
                        <!-- <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button> -->
  
                      </form>
                      <div class="alert alert-danger" role="alert" *ngIf="dialogErrorMessage">
                        {{dialogErrorMessage !}}
                      </div>
                      <div class="form-group">
                        <div class="alert alert-success" *ngIf="isSuccessful">
                          Votre mot de passe a été reinitialiser veuillez vous connecter par ici <a
                            routerLink="/login">Connexion</a>!
                        </div>
                      </div>
  
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  
  