.form-gap {
    padding-top: 70px;
}

.bg-prime {
    /* background-color:  #9C27B0;
    background-image: linear-gradient(120deg, #FF4081, #81D4FA) */
    background-color:  #9C27B0;
    background-image: linear-gradient(120deg, #546e7a, #546e7a)
    
}
#login-bg{
    margin-top: 100px;
}


#bt{
    background-color: #002a40;
    border-color: #002a40;
}