<!-- Confirmation -->
<app-confirmation></app-confirmation>
<!-- <p-divider></p-divider> -->
<ng-template pTemplate="header" style="
    background-color:#1e88e0;
    padding-left: 10px;
    padding-right: 10px; 
    padding-top: 5px;
    padding-bottom: 5px;">
    <i class="{{isEditing() ? 'pi-pencil' : 'pi-plus'}} pi p-mr-1 mr-2"></i>
    <h3 class="mr-auto">
        {{fonctionnaire.id ? 'Formulaire de modification' : 'Formulaire d\'ajout de'}} fonctionnaire
    </h3>
</ng-template>
<p-progressBar *ngIf="isDialogOpInProgress" mode="indeterminate" color="#1e88e0"></p-progressBar>
<p-message *ngIf="message" [severity]="message.severity" [text]="message.summary"></p-message>
<!-- <p-message severity="info" text="Message Content"></p-message> -->
<!-- Form -->
<form (ngSubmit)="saveEntity()" #dtf="ngForm" style="margin-top:20px; display: grid; grid-template-columns: repeat(2, 1fr); gap: 0px;">


        <div class="field col-12 md:col-12">
            <label for="libelle">Matricule :</label>
            <input type="text" id="libelle" name="libelle" #libelle="ngModel" [(ngModel)]="fonctionnaire.matricule" required
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12 md:col-12">
            <label for="nom">Nom :</label>
            <input type="text" id="nom" name="nom" #code="ngModel" [(ngModel)]="fonctionnaire.nom" required
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12 md:col-12">
            <label for="prenom">Prenom :</label>
            <input type="text" id="prenom" name="prenom" #section="ngModel" [(ngModel)]="fonctionnaire.prenom" required
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12 md:col-12">
            <label for="uniteAdministrative">Unité Administrative :</label>
            <input type="text" id="uniteAdministrative" name="uniteAdministrative" #section="ngModel" [(ngModel)]="fonctionnaire.uniteAdministrative" required
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="col-12 md:col-12">
            <label for="ministere">Ministere rattaché:</label>
            <div>
                <p-dropdown autoWidth="false" styleClass="mb-3" [style]="{'width':'100%'}" [options]="ministeres"
                    [(ngModel)]="fonctionnaire.ministereInstitution" optionLabel="libelle" inputId="ministere" name="ministere"
                    placeholder="Selectionner le ministere..." [filter]="true" appendTo="body" [showClear]="true">
                </p-dropdown>
            </div>
        </div>
       
        <div class="col-12 md:col-12">
            <label for="profil">Profil :</label>
            <div>
                <p-dropdown autoWidth="false" styleClass="mb-3" [style]="{'width':'100%'}" [options]="profils"
                    [(ngModel)]="fonctionnaire.profil" optionLabel="libelle" inputId="profil" name="profil"
                    placeholder="Selectionner le profil..." [filter]="true" appendTo="body" [showClear]="true">
                </p-dropdown>
            </div>
        </div>
        <div class="field col-12 md:col-12">
            <label for="sexe">Sexe :</label>
            <div>
                <p-dropdown autoWidth="false" styleClass="mb-3" [style]="{'width':'100%'}" [options]="listeSexes"
                    [(ngModel)]="fonctionnaire.sexe" optionValue="code" optionLabel="lib" inputId="sexe" name="sexe"
                    placeholder="Selectionner le sexe..." [filter]="true" appendTo="body" [showClear]="true">
                </p-dropdown>
            </div>
        </div>
       
        <div class="field col-12 md:col-12">
            <label for="fonction">Fonction :</label> 
            <div>
                <p-dropdown autoWidth="false" styleClass="mb-3" [style]="{'width':'100%'}" [options]="profils_agent"
                    [(ngModel)]="fonctionnaire.profil_agent" optionLabel="libelle" inputId="profil_agent" name="profil_agent"
                    placeholder="Selectionner la fonction..." [filter]="true" appendTo="body" [showClear]="true">
                </p-dropdown>
            </div>
           
        </div>
        <div class="field col-12 md:col-12">
            <label for="categorie">Categorie :</label>
            <input type="text" id="categorie" name="categorie" #section="ngModel" [(ngModel)]="fonctionnaire.categorie" required
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12 md:col-12">
            <label for="classe">Classe :</label>
            <input type="text" id="classe" name="classe" #section="ngModel" [(ngModel)]="fonctionnaire.classe" required
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12 md:col-12">
            <label for="echelle">Echelle :</label>
            <input type="text" id="echelle" name="echelle" #section="ngModel" [(ngModel)]="fonctionnaire.echelle" required
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12 md:col-12">
            <label for="echelon">Echelon :</label>
            <input type="text" id="echelon" name="echelon" #section="ngModel" [(ngModel)]="fonctionnaire.echelon" required
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12 md:col-12">
            <label for="sousPosition">Sous Position :</label>
            <input type="text" id="sousPosition" name="sousPosition" #section="ngModel" [(ngModel)]="fonctionnaire.sousPosition" required
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
       
        <div class="field col-12 md:col-12">
            <label for="emailAddress">Email :</label>
            <input type="text" id="emailAddress" name="emailAddress" #section="ngModel" [(ngModel)]="fonctionnaire.emailAddress" 
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                 pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" pInputText required />
        </div>
        <div class="field col-12 md:col-12">
            <label for="telephone">Telephone  :</label>
          
                <p-inputMask id="telephone" name="telephone" #telephone="ngModel" [(ngModel)]="fonctionnaire.telephone" type="tel" [required]="true"
                mask="(+226) 99999999" autoWidth="false"  [style]="{'width':'100%'}"  class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" ></p-inputMask>
        
            </div>
        <div class="field col-12 md:col-12">
            <label for="adresse"> Adresse :</label>
            <input type="text" id="adresse" name="adresse" #section="ngModel" [(ngModel)]="fonctionnaire.adresse" required
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
   <div style="justify-content: center;">

    <div class="col-span-2 text-right" style="display: flex; align-items: center; justify-content: flex-end;">
        <button type="reset" label="Effacer" class="p-button-filter mr-3 float-left" pButton
          icon="pi pi-trash"></button>
    
        <div style="display: flex;">
          <button label="Annuler" (click)="clear()" class="p-button-filter mr-3" pButton icon="pi pi-times"></button>
          <button type="submit" [disabled]="!dtf.form.valid" label="{{isEditing() ? 'Enregistrer' : 'Ajouter'}}"
            icon="pi {{isEditing() ? 'pi-save' : 'pi-plus'}}"
            class="  {{isEditing() ? 'p-button-primary' : 'p-button-success'}}" pButton>
          </button>
        </div>
</div>
   </div>
        
       
    
</form>
