<div>
  <p-card>
    <p-toast></p-toast>

    <div class="p-d-flex">
      <app-crud-toolbar [enableCreate]="enableCreate" (create)="onCreate()">
      </app-crud-toolbar>
      <div class="p-ml-auto">
        <p-message *ngIf="message" [severity]="message.severity" [text]="message.summary"></p-message>
        <p-progressSpinner *ngIf="isOpInProgress" strokeWidth="4" [style]="{width: '50px', height: '50px'}">
        </p-progressSpinner>
      </div>
    </div>
    <p-divider></p-divider>
    
    <p-table #dt [value]="ministereInstitutions" responsiveLayout="stack" [paginator]="true" [rows]="recordsPerPage"
      [loading]="isLoading" (onLazyLoad)="load($event)" [totalRecords]="totalRecords"
      [globalFilterFields]="['libelle']"
      currentPageReportTemplate="Affichage {first} à {last} de {totalRecords} élements" [showCurrentPageReport]=true
      [rowsPerPageOptions]="[10, 20]" styleClass="p-datatable-sm">

      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <div class="col-sm-auto">
            <span>Liste des ministères</span>
          </div>
          <div class="p-ml-auto p-mr-2 p-input-icon-left">
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="dt.filterGlobal($any($event.target)!.value, 'contains')"
                placeholder="Recherche..." />
            </span>
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="libelle">Libelle
            <p-sortIcon field="libelle"></p-sortIcon>
          </th>
          <th style="width:15%" SortableColumn="section">Section</th>
          
          <th style="width:10%">Actions</th>

        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-ministereInstitution let-columns="columns">
        <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex" [pContextMenuRow]="ministereInstitution">
          <td>{{ministereInstitution.libelle}}</td>
          <td>{{ministereInstitution.section}}</td>
         <td>
          <app-actions-toolbal-iud (info)="onInfo(ministereInstitution)" [enableBtnInfo]="enableBtnInfo" (edit)="onEdit(ministereInstitution)"
          [enableBtnEdit]="enableBtnEdit" (delete)="onDelete(ministereInstitution)" [enableBtnDelete]="enableBtnDelete">
        </app-actions-toolbal-iud>
         </td>
           
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>

  <!-- Dialog-->
  <p-dialog [(visible)]="showDialog" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
    <ng-template pTemplate="header">
      <i class="{{isEditing() ? 'pi-pencil' : 'pi-plus'}} pi p-mr-1"></i>
      <span class="p-mr-auto">
        {{ministereInstitution.id ? 'Modifier' : 'Ajouter'}} un ministere 
      </span>
    </ng-template>
    <p-progressBar *ngIf="isDialogOpInProgress" mode="indeterminate"></p-progressBar>
    <p-message *ngIf="dialogErrorMessage" severity="error" [text]="dialogErrorMessage"></p-message>
    <p-divider></p-divider>
    <!-- Form -->
    <form (ngSubmit)="save()" #dtf="ngForm">
        <div class="p-field p-fluid">
            <label for="libelle">Libellé</label>
            <input id="libelle" name="libelle" #libelle="ngModel" [(ngModel)]="ministereInstitution.libelle" pInputText required />
        </div>
        <div class="p-field p-fluid">
          <label for="section">Section</label>
          <input id="section" name="section" #section="ngModel" [(ngModel)]="ministereInstitution.section" pInputText required />
      </div>
      <p-divider></p-divider>
      <div class="p-ml-auto text-right">
        <button type="submit" [disabled]="!dtf.form.valid" label="{{isEditing() ? 'Enregistrer' : 'Ajouter'}}"
          icon="pi {{isEditing() ? 'pi-save' : 'pi-plus'}}"
          class="p-button-raised p-button-text {{isEditing() ? 'p-button-primary' : 'p-button-success'}}" pButton>
        </button>
      </div>
    </form>
  </p-dialog>

  <p-confirmDialog></p-confirmDialog>

