<p-card>
    <p-accordion>
        <p-accordionTab header="Evaluation de la performance des agents ">
            <strong>Evaluation de la performance des agents</strong> est un processus qui consiste à évaluer et à
            documenter la qualité de travail d’un agent. Elle se fonde sur les progrès de l’agent par rapport aux
            objectifs établis annuellement avec son supérieur hiérarchique immédiat.
            L’évaluation conduit à la notation et à la détermination des aspects à améliorer dans la conduite des
            processus.
            Note : la note sert à mesurer la performance d’un agent au regard du contrat d’objectif qui lui est assigné

        </p-accordionTab>
        <p-accordionTab header="Le contrat d’objectifs ">
            <strong>Le contrat d’objectifs</strong> est un ensemble d’instructions et de consignes donnés à un agent, en
            vue de la réalisation du programme d’activités et du bon fonctionnement de la structure à laquelle il
            appartient.
            Il prend la forme d’une lettre de missions lorsqu’il s’agit d’un supérieur hiérarchique immédiat et d’une
            fiche d’indications des attentes en ce qui concerne les autres agents
        </p-accordionTab>
        <p-accordionTab header="La lettre de mission ">
            <strong>La lettre de mission</strong> est une instruction écrite du supérieur hiérarchique immédiat qui fixe 
            des objectifs à chaque collaborateur responsable de structure.
        </p-accordionTab>
        <p-accordionTab header="La fiche d’indications des attentes ">
            <strong>La fiche d’indications des attentes </strong> précise les tâches assignées, les résultats attendus
            ainsi que toute autre exigence de bon fonctionnement de la structure.
            Elle fait l’objet d’un canevas valable pour l’ensemble des structures de l’administration de l’Etat.

        </p-accordionTab>
        <p-accordionTab header="Code d’affiliation">
            <strong>Le code d’affiliation</strong> est la clé qui sert à lier l’agent à son supérieur hiérarchique
            immédiat. Il est utilisé lors de l’activation du compte de l’agent. </p-accordionTab>
        <p-accordionTab header="Le délai">
            <strong>Le délai</strong> précise la date limite à laquelle les activités doivent être réalisées.
        </p-accordionTab>

        <p-accordionTab header="Éléments de la note ">
            <strong>Pour l’agent doté du pouvoir de notation (fiche A)</strong><br>
            <ul><br>
                <li>Compétence professionnelle (Réalisation des objectifs) ; </li><br>
                <li>Conscience professionnelle (Assiduité, Ethique professionnelle, Sens de la responsabilité) ;</li>
                <br>
                <li>Leadership (Sens de l’animation d’équipe, Aptitude à l’encadrement, Capacité à évaluer).</li><br>

            </ul>

            <strong>Pour l’agent sans pouvoir de notation (fiche B)</strong><br>
            <ul><br>
                <li>Compétence professionnelle (Réalisation des attentes, Sens de l’organisation, Esprit d’initiative) ;
                </li><br>
                <li>Conscience professionnelle (Ponctualité, Assiduité, Ethique professionnelle) ;</li><br>
                <li>Sens du service public (Esprit de sacrifice, Respect du bien public, Respect de la hiérarchie).</li>
                <br>

            </ul>

        </p-accordionTab>
    </p-accordion>
</p-card>