<div id="login-bg" class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-5 mx-auto">
            <div class="card-group">
              <div class="card p-4">
                <div class="card-body">
                  <div class="text-center">
                    <h3><i class="fa fa-lock fa-4x"></i></h3>
                    <h2 class="text-center">Mot de passe oublié?</h2>
                    <p>Vous pouvez réinitialiser votre mot de passe ici.</p>
                    <div class="panel-body">
                      <form *ngIf="!isSuccessful" id="register-form" role="form" autocomplete="off" name="form"
                        (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                        <div class="form-group">
                          <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                            <input class="form-control" name="emailAddress" #emailAddress="ngModel" [(ngModel)]="form.emailAddress" id="emailAddress"
                              placeholder="Adresse mail" type="email" required>
                          </div>
                          <div class="alert alert-danger" role="alert" *ngIf="emailAddress.errors && f.submitted">
                            Veillez renseigner votre email!
                          </div>
                          <div class="alert alert-danger" role="alert" *ngIf="dialogErrorMessage && f.submitted">
                            Aucun compte trouvé pour cette adresse mail!
                          </div>
                          <!-- <div class="alert alert-danger" role="alert"> -->
                            <!-- <p-message *ngIf="dialogErrorMessage" severity="err" [text]="dialogErrorMessage"></p-message> -->
                          <!-- </div> -->
                        </div>
                        <div class="form-group">
                          <input name="recover-submit" id="bt" class="btn btn-lg btn-primary btn-block" value="Soumettre"
                            type="submit">
                        </div>
  
                        <input type="hidden" class="hide" name="token" id="token" value="">
                      </form>
                      <div class="form-group">
                        <div class="alert alert-success" *ngIf="isSuccessful">
                          Veuillez consulter votre boite mail pour pourvuivre!
                        </div>
                      </div>
  
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  
  