<style>
    * {
        box-sizing: border-box;
    }
    .flex-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
}

.sub-title {
    color: #7F7F7F;
}

.flex-item-left {
    flex: 60%;
}

.flex-item-right {
    flex: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.flex-item-right h6 {
    color: white;
}

.aitem {
    color: #000000e1;
    font-size: 50%;
}

.flex-item-center {
    /* flex: 10%; */
    text-align: left;
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */

@media (max-width: 800px) {

    .flex-item-right,
    .flex-item-left {
        flex: 100%;
    }
}

.hearder-top {
    /*border-top: 5px solid #2196F3;*/
   
}
.separator{

    border-top: 4px #ffffff solid;
    background: local;
}

</style>

<div class="flex-container  hearder-top p-2 pt-3 bg-light">
    <div class="col-1 col-md-1 flex-item-center">
        <a class="navbar-brand" href="/">
            <img src="assets/images/armoirie_BF.png" width="80px" height="100px" alt="BURKINA FASO">
        </a>
    </div>
    <div class="col-10 col-md-8 flex-item-left w-25">
        <h3 class="mt-2">Plateforme d'évaluation du personnel de l'administration publique burkinabè</h3>
        <h4 class="sub-title mt-4">Bienvenue sur la Plateforme <span class="text-warnings">e</span>No<span class="text-warnings">tation</span></h4>

        <!-- <h4 class="sub-title mt-5">Bienvenue sur la Plateforme <span class="text-warning">e</span>No<span class="text-warning">tation</span></h4> -->
    </div>

    <div class="col-1 float-right">
        <a class="navbar-brand" href="/">
            <img src="assets/images/flag.png" width="80px" height="100px" alt="BURKINA FASO">
        </a>
    </div>


    <div class="container-fluid separator" style="background: #002a40;" > 
       <app-menu></app-menu>
    </div>
</div>
<div>
    <router-outlet></router-outlet>
</div>


<app-footer></app-footer>