<div class="row bibliotheque-header-style" style="background: url('assets/img/icons/Decret.png') no-repeat;background-size:100%;">
    <div class="col-md-12 text-white bibliotheque-header-text-style">
        <h1 class="uppercase justify text-white font-bold">DECRET</h1>
        <!-- <p class="">Tous les documents que vous avez besoin.</p> -->
    </div>
    <!-- <div class="col-md-4">
        <img src="assets/img/7.png" alt="" style="border-radius: 100%;" width="100%">
    </div> -->
</div>
<div class="row bibliotheque-style" style="">
    <div class="col-md-12" style="margin-bottom: 50px;">
        <h3 class="uppercase text-center">Bibliothèque</h3>
        <p class="text-center">Vous trouverez quelques documents que vous pourrez exploter ici :</p>
        <span class="p-input-icon-left " style="width:100%;">
            <i class="pi pi-search"></i>
            <input type="text" class="shadow w-full" placeholder="Rechercher un document ici" pInputText style="width:50%; border-top-left-radius: 5px; border-bottom-left-radius: 5px; border-color: transparent; height: 33px; padding-left: 35px; padding-right: 10px;" />
        </span>
    </div>
    <div class="col-md-12">
        <div class="row m-b-50">
            <div class="col-md-4 document-style" style="">
                <p-card header="Decret portant approbation des statuts particuliers de la CNAMU" subheader="" [style]="{ width: 'auto' }">
                    <ng-template pTemplate="header">
                        <img alt="Card" src="assets/img/icons/Vert.png" />
                    </ng-template>
                    <div class="text-center">
                        <button class="btn btn-green">Télécharger</button>
                        <!-- <p-button label="Télécharger" styleClass="p-button-success" icon="pi pi-download"></p-button> -->
                    </div>
                </p-card>
            </div>
            <div class="col-md-4 document-style" style="">
                <p-card header="Decret portant approbation des statuts particuliers de la CNAMU" subheader="" [style]="{ width: 'auto' }">
                    <ng-template pTemplate="header">
                        <img alt="Card" src="assets/img/icons/Vert.png" />
                    </ng-template>
                    <div class="text-center">
                        <button class="btn btn-green">Télécharger</button>
                    </div>
                </p-card>
            </div>
            <div class="col-md-4 document-style" style="">
                <p-card header="Decret portant approbation des statuts particuliers de la CNAMU" subheader="" [style]="{ width: 'auto' }">
                    <ng-template pTemplate="header">
                        <img alt="Card" src="assets/img/icons/Vert.png" />
                    </ng-template>
                    <div class="text-center">
                        <button class="btn btn-green">Télécharger</button>
                    </div>
                </p-card>
            </div>
        </div>
        <div class="row m-b-50">
            <div class="col-md-4 document-style">
                <p-card header="Decret portant approbation des statuts particuliers de la CNAMU" subheader="" [style]="{ width: 'auto' }">
                    <ng-template pTemplate="header">
                        <img alt="Card" src="assets/img/icons/Vert.png" />
                    </ng-template>
                    <div class="text-center">
                        <button class="btn btn-green">Télécharger</button>
                    </div>
                </p-card>
            </div>
            <div class="col-md-4 document-style">
                <p-card header="Decret portant approbation des statuts particuliers de la CNAMU" subheader="" [style]="{ width: 'auto' }">
                    <ng-template pTemplate="header">
                        <img alt="Card" src="assets/img/icons/Vert.png" />
                    </ng-template>
                    <div class="text-center">
                        <button class="btn btn-green">Télécharger</button>
                    </div>
                </p-card>
            </div>
            <div class="col-md-4 document-style">
                <p-card header="Decret portant approbation des statuts particuliers de la CNAMU" subheader="" [style]="{ width: 'auto' }">
                    <ng-template pTemplate="header">
                        <img alt="Card" src="assets/img/icons/Vert.png" />
                    </ng-template>
                    <div class="text-center">
                        <button class="btn btn-green">Télécharger</button>
                    </div>
                </p-card>
            </div>
        </div>
        <div class="row m-b-50">
            <div class="col-md-4 document-style">
                <p-card header="Decret portant approbation des statuts particuliers de la CNAMU" subheader="" [style]="{ width: 'auto' }">
                    <ng-template pTemplate="header">
                        <img alt="Card" src="assets/img/icons/Vert.png" />
                    </ng-template>
                    <div class="text-center">
                        <button class="btn btn-green">Télécharger</button>
                    </div>
                </p-card>
            </div>
            <div class="col-md-4 document-style">
                <p-card header="Decret portant approbation des statuts particuliers de la CNAMU" subheader="" [style]="{ width: 'auto' }">
                    <ng-template pTemplate="header">
                        <img alt="Card" src="assets/img/icons/Vert.png" />
                    </ng-template>
                    <div class="text-center">
                        <button class="btn btn-green">Télécharger</button>
                    </div>
                </p-card>
            </div>
            <div class="col-md-4 document-style">
                <p-card header="Decret portant approbation des statuts particuliers de la CNAMU" subheader="" [style]="{ width: 'auto' }">
                    <ng-template pTemplate="header">
                        <img alt="Card" src="assets/img/icons/Vert.png" />
                    </ng-template>
                    <div class="text-center">
                        <button class="btn btn-green">Télécharger</button>
                    </div>
                </p-card>
            </div>
        </div>
    </div>
</div>
<!-- <div class="row" style="background-color: #047ada; padding-left: 10%; padding-right: 10%; padding-top:50px; padding-bottom:50px; margin-left: 0%; margin-right: 0%; border-radius: 0px;">
    <div class="col-md-12 text-center" style="margin-bottom: 50px;">
        <h3 class="uppercase text-center text-white">Notre newsletter</h3>
        <p class="text-center text-white">Veuillez souscrire pour recevoir les informations en temps réel</p>
        <input type="email" placeholder="Entrez votre email ici" pInputText style="width:50%; border-top-left-radius: 5px; border-bottom-left-radius: 5px; border-color: transparent; height: 33px; padding-left: 10px; padding-right: 10px;" /> <button class="btn btn-dark">Souscrire</button>
    </div>
</div> -->