.m-t-130{
    margin-top: 130px;
}
.m-t-30{
    margin-top: 30px;
}
.document-style{
    margin-bottom: 50px;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (max-width: 1200px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media (max-width: 992px) {
    
} 

/* Medium devices (landscape tablets, 768px and up) */
@media (max-width: 768px) {
    
} 

/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
    
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 360px) {
    
}